<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Demo</title>

    <!--Bootsrap CSS-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">
    
</head>

<body>

    <h1 class="display-4">Thank you for contacting us!</h1>

    <p class="display-6">You contacted <strong><%= data.who %></strong> from the Department <strong><%= data.dept %></strong>.</p>
    <p>We will get back to you at <u><%= data.email %></u></p>

    <a href="/">Back to Home</a>

</body>

</html>