<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Demo</title>

    <!--Bootsrap CSS-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">
    
</head>

<body>
    <% var rootPath = 'C:/Users/Abdul/Desktop/tabassum/Express-Demo/views' %>
    <%- include( rootPath + '/partials/nav'); -%>

    <h1 class="display-4">Welcome to the HomePage</h1>

</body>

</html>